.teamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto  auto;
    column-gap: 10px;
    row-gap: 10px;

    .teamNameSection {
        grid-column: span 3;
        justify-self: start;
        align-self: end;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .winLossSection {
        grid-column: span 1;
        justify-self: center;
        padding: 2rem;
        text-align: center;
    }

    .latestMatchSection {
        grid-column: span 4;
    }

    .matchCardSection {
        grid-column: span 1;
    }

    .moreMatchesSection {
        align-self: center;
        justify-self: center;
        font-size: 1.5rem;
    }
}